* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #fff;
}

canvas#game {
  display: block;
  background: #fff;  /* oder transparenter Hintergrund */
}
