* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at top, #f5f7ff 0%, #d5ddff 40%, #a3b4ff 100%);
}

canvas#game {
  display: block;
  background: linear-gradient(
    to bottom,
    #e4e9ff,
    #c3cdee
  );
}


